<form action="/cadastrarPostagem" method="POST">
    <p>Titulo:</p>
    <input type="text" name="titulo">
    <p>Conteúdo:</p>
    <textarea name="conteudo"></textarea>
    <button tye="submit">Cadastrar postagem</button>
</form>